In this kata we want to convert a string into an integer. The strings simply represent the numbers in words.

Examples:

    "one" => 1
    "twenty" => 20
    "two hundred forty-six" => 246
    "seven hundred eighty-three thousand nine hundred and nineteen" => 783919

Additional Notes:

    The minimum number is "zero" (inclusively)
    The maximum number, which must be supported is 1 million (inclusively)
    The "and" in e.g. "one hundred and twenty-four" is optional, in some cases it's present and in others it's not
    All tested numbers are valid, you don't need to validate them

In [11]:
numbers = { 'zero'      : 0,
            'one'       : 1,
            'two'       : 2,
            'three'     : 3,
            'four'      : 4,
            'five'      : 5,
            'six'       : 6,
            'seven'     : 7,
            'eight'     : 8,
            'nine'      : 9,
            'ten'       : 10,
            'eleven'    : 11,
            'twelve'    : 12,
            'thirteen'  : 13,
            'fourteen'  : 14,
            'fifteen'   : 15,
            'sixteen'   : 16,
            'seventeen' : 17,
            'eighteen'  : 18,
            'nineteen'  : 19, 
            'twenty'    : 20,
            'thirty'    : 30,
            'forty'     : 40,
            'fifty'     : 50,
            'sixty'     : 60,
            'seventy'   : 70,
            'eighty'    : 80,
            'ninety'    : 90 }

In [112]:
def get_digit(string, multiplier):
    pos = string.find('-')
    if pos == -1:
        num = numbers[string]
    else:
        num = numbers[string[ : pos]] + numbers[string[ pos + 1 : ]]
    if num > 9 and multiplier > 10:
        multiplier /= 10
    return num * int(multiplier)

In [113]:
def parse_int(string):
    num = 0
    multiplier = 1
    thousands_multiplier = 1
    for hundreds in string.split(' thousand')[::-1]:
        for digit in hundreds.split()[::-1]:
            if digit == 'and':
                pass
            elif digit == 'hundred':
                multiplier = 100
            elif digit == 'million':
                multiplier = 1000000
            else:
                num += get_digit(digit, multiplier) * thousands_multiplier
                multiplier = 1
        thousands_multiplier *= 1000
    return num

In [114]:
parse_int("sixty-six hundred six thousand sixty-six hundred six")

666666

In [115]:
parse_int('twenty')

20

In [116]:
parse_int('two thousand')

2000